{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app1/css/style.css' %}">
    <title>calldrone</title>
</head>
<body>
    
    <header>
        <div class="wrap">
            <ul class="h_menu">
                <li><a href="/app1/page1">홈</a></li>
                <li><a href="/app1/page2">page2</a></li>
                <li><a href="/app1/page3">page3</a></li>
                <li><a href="/app1/page4">page4</a></li>
            </ul>
        </div>
    </header>
    

    {% block content %}

    {% endblock %}
</body>
</html>