{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app1/css/jquery.mobile-1.4.5.min.css' %}" />
        <link rel="stylesheet" href="{% static 'app1/css/style.css' %}">
        <title>calldrone</title>
    </head>
    <body style="background-color: #28333F;">

    {% if check %}
    <div>
        <h1>카카오 로그아웃</h1>
        <form action="/app1/kakaoLogout" method="GET">
            <input type="submit" value="카카오로그아웃" />
        </form>
    </div>
    {% else %}
        <div>
            <h1>카카오 로그인</h1>
            <form action="/app1/kakaoLoginLogic" method="GET">
            <input type="submit" value="카카오로그인" />
            </form>
        </div>
    {% endif %}

    </body>
</html>