{% extends './base.html' %}

<!-- header -->
{% block header %}
<div data-role="header" style="background-color: rgb(199, 213, 235);
border-bottom-right-radius:10px; border-bottom-left-radius:10px;">
    <a href="/app1/page1" class="ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all">No text</a>
    <h1>알림</h1>
    <a href="/app1/page1" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all">No text</a>
</div>
{% endblock %}

<!-- main -->
{% block content %}

    <div style="border:1px solid;">
        <p style = "text-align: center;" id="p1">배송상태 : 없음</p>
        <!-- <h1 id="app">{{text}}</h1> -->
    </div>
    
    <!-- 드론위치 지도에 표시 -->
    <div id = "map_bg">
        <div id ="map" class="map"  style="box-shadow: 1px 1px 1px 1px rgba(0.1, 0.1, 0.1, 0.2);
        margin:0px; border-radius: 30px;"></div>
    </div>
    

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fddbb98b1c8bf19ba082003e2b48346e"></script>
    <script>
        let socket = new WebSocket('ws:localhost:8000/ws/some_url/')

        socket.onmessage = function(event){
            let data = JSON.parse(event.data);
            console.log(data);
            console.log(data.message1)
            console.log(data.message2)

            // 받는 좌표정보가 0일때, 즉 아직 사용자가 배송신청을 누르지 않았을 때
            if (data.message1 != 0){
                document.querySelector("#p1").innerHTML = '배송상태 : 배송 중';
            }
            //document.querySelector('#app').innerText = data.message1;

            // -----------------------------------위,경도 좌표 지도에 표시 및 지도 출력-------------------------------------//
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(data.message1, data.message2), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
            // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption); 
            

            var marker = new kakao.maps.Marker({ 
                // 지도 중심좌표에 마커를 생성합니다 
                position: map.getCenter() 
            }); 
            marker.setMap(map);
            // ---------------------------------------------------------------------------------//
        }
    </script>

{% endblock %}

<!-- footer -->