{% extends './base.html' %}

<!-- header -->
{% block header %}
<div data-role="header" style="background-color: rgb(199, 213, 235);
border-bottom-right-radius:10px; border-bottom-left-radius:10px;">
    <a href="/app1/page1" class="ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all">No text</a>
    <h1>페이로드</h1>
    <a href="/app1/page1" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all">No text</a>
</div>
{% endblock %}

<!-- main -->
{% block content %}
<div style="background-color: rgb(239, 243, 252); height: 650px;">
    <div style="text-align : center;">
        <h1>추천 페이지</h1>
    </div>

    <form action="/app1/page5" method="post">
        {% csrf_token %}
        <div style="box-shadow: 1px 1px 1px 1px rgba(0.1, 0.1, 0.1, 0.2); margin-left: 50px; border-radius: 30px;
        margin-top:10px; margin-right: 50px; text-align : center; background-color: rgb(255, 255, 255); padding: 10px;">
            <div style="color:rgb(0, 0, 0); margin: 5px;">
                <p>
                    <!-- value="on" checked="checked" -->
                    <input onclick="document.querySelector('#payload').innerText = '약 5시간 뒤 도착예정 \n 4000원';" type="radio" name="radio-choice-v-2" id="radio-choice-v-2a" value="off">
                    <label for="name">F450</label>
                    <img src="/static/app1/css/images/drone1.png" width="60" height="60">
                </p>
            </div>

            <div style="color:rgb(0, 0, 0); margin: 5px;">
                <p>
                    <input onclick="document.querySelector('#payload').innerText = '약 4시간 뒤 도착예정 \n 6000원';" type="radio" name="radio-choice-v-2" id="radio-choice-v-2b" value="off">
                    <label for="email">X500 V2</label>
                    <img src="/static/app1/css/images/drone2.png" width="60" height="60">
                </p>
            </div>

            <div style="color:rgb(0, 0, 0); margin: 5px;">
                <p>
                    <input onclick="document.querySelector('#payload').innerText = '약 3시간 뒤 도착예정 \n 8000원';" type="radio" name="radio-choice-v-2" id="radio-choice-v-2c" value="other">
                    <label for="email">IRON-MAN</label>
                    <img src="/static/app1/css/images/drone3.png" width="60" height="60">
                </p>
            </div>
        </div>
        
        <!-- <img style="position:absolute; left:277px; top: 400px;" src="/static/app1/css/images/load-34.gif" width="70" height="70"> -->
        <div style="position: relative; box-shadow: 1px 1px 1px 1px rgba(0.1, 0.1, 0.1, 0.2); margin-left: 50px; margin-right: 50px; border-radius: 30px;
        margin-top:10px; text-align : center; background-color: rgb(255, 255, 255);">
            <div style="color:red; margin: 20px; padding: 20px;">
                <p>
                    <label for="name">도착 예정 시간</label>
                    <h4 id="payload"> 드론을 선택해 주세요 </h4>
                </p>
                <input onclick = "alert('배송을 시작합니다');" type="submit" value="선택하기">
            </div>
        </div>
    </form>
</div>  
{% endblock %}

<!-- footer -->