{% extends './base.html' %}

<!-- header -->
{% block header %}
<!-- <div data-role="header" style="background-color: rgba(119, 156, 215, 0.823);
border-bottom-right-radius:10px; border-bottom-left-radius:10px;">
    <a href="/app1/page1" class="ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all">No text</a>
    <h1>홈</h1>
    <a href="/app1/page1" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all">No text</a>
</div> -->
{% endblock %}

<!-- main -->
{% block content %}
<img src="/static/app1/css/images/P2.png">
<img src="/static/app1/css/images/main_img.png" width="375" height="583">
{% endblock %}

<!-- footer -->
