{% extends './base.html' %}

<!-- header -->
{% block header %}

{% endblock %}

<!-- main -->
{% block content %}
<a href="/app1/page1"><img src="/static/app1/css/images/Map/Secondary_Header.png" style="width: 375px; height: 36px; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 15px;"></a>

<img src="/static/app1/css/images/Delivery/Box.png" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 100px; height: 100px; position: absolute; top: 40px">
<img src="/static/app1/css/images/Delivery/Group 237722.png" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 243px; height: 21.36px; position: absolute; top: 140px;">


<form action="/app1/page2" method="post">
    {% csrf_token %}
    <div style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 170px; text-align: center;">
        <div style="margin: 15px;">
            <input style="border-style:solid; border-width:0px; border-radius: 10px; width: 300px; height: 50px; background-color: #2e3e4e;" type="text" id="도로명주소" name="도로명주소" placeholder="  도로명주소">
        </div>

        <div style="margin: 15px;">
            <input style="border-style:solid; border-width:0px; border-radius: 10px; width: 300px; height: 50px; background-color: #2e3e4e;" type="text" id="무게" name="무게" placeholder="  무게">
        </div>
        
        <div style="margin: 15px;">
            <input style="border-style:solid; border-width:0px; border-radius: 10px; width: 300px; height: 50px; background-color: #2e3e4e;" type="text" id="가로" name="가로" placeholder="  가로">
        </div>

        <div style="margin: 15px;">
            <input  style="border-style:solid; border-width:0px; border-radius: 10px; width: 300px; height: 50px; background-color: #2e3e4e;"type="text" id="세로" name="세로" placeholder="  세로">
        </div>

        <div style="margin: 15px;">
            <input  style="border-style:solid; border-width:0px; border-radius: 10px; width: 300px; height: 50px; background-color: #2e3e4e;"type="text" id="높이" name="높이" placeholder="  높이">
        </div>

        <button type="submit" style="border-style:solid; border-width:0px; box-shadow: none; width: 175px; height: 39px; color: #fff; background: #7B61FF; border-radius:10px; padding:5px 20px;"><h4>다음 -></h4></button>
    </div>


</form>

{% endblock %}