{% extends './base.html' %}

<!-- header -->
{% block header %}
    <h1>알림</h1> 
{% endblock %}

<!-- main -->
{% block content %}
    <p>배송상태 : </p>


    <h1 id="app">{{text}}</h1>

    <!-- 드론위치 지도에 표시 -->
    <div id = "map_bg">
        <div id ="map" class="map"></div>
    </div>
    

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fddbb98b1c8bf19ba082003e2b48346e"></script>
    <script>
        let socket = new WebSocket('ws:localhost:8000/ws/some_url/')

        socket.onmessage = function(event){
            let data = JSON.parse(event.data);
            console.log(data);
            document.querySelector('#app').innerText = data.message;

            // -----------------------------------위,경도 좌표 지도에 표시 및 지도 출력-------------------------------------//
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(data.message, 126.978), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
            // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption); 


            var marker = new kakao.maps.Marker({ 
                // 지도 중심좌표에 마커를 생성합니다 
                position: map.getCenter() 
            }); 
            marker.setMap(map);
            // ---------------------------------------------------------------------------------//
        }

    </script>
{% endblock %}

<!-- footer -->