{% extends './base.html' %}

<!-- header -->
{% block header %}

{% endblock %}

<!-- main -->
{% block content %}
<img src="/static/app1/css/images/Home/Level Overal.png" style="width: 363px; height: 48px; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 30px;">
<img src="/static/app1/css/images/Home/Headline.png" style="width: 31.11px; height: 31.11px; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 150px;">
<img src="/static/app1/css/images/Home/Group 237715.png" style="width: 316px; height: 339px; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 180px;">
{% endblock %}

<!-- footer -->
