{% extends './base.html' %}

<!-- header -->
{% block header %}
<div data-role="header">
    <a href="/app1/page1" class="ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all">No text</a>
    <h1>호출</h1>
    <a href="/app1/page1" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all">No text</a>
</div>
{% endblock %}

<!-- main -->
{% block content %}
<div style="border:5px solid; background-color: rgb(239, 243, 252); height: 583px;">
    <div style="border:5px solid; color:palegreen; text-align : center;">
        <h1>목적지 등록</h1>
    </div>

    <form action="/app1/page3" method="post">
        <div style="border:1px solid; color:red; margin-left: 50px; border-radius: 30px;
        margin-top:20px; margin-right: 50px; text-align : center; background-color: rgb(255, 255, 255);">
            <div style="color:red; margin: 20px;">
                <p>
                    <label for="name">목적지</label>
                    <input type="text" id="시" name="시">
                </p>
            </div>

            <div style="color:red; margin: 20px;">
                <p>
                    <label for="email">구/군/면</label>
                    <input type="text" id="군" name="군">
                </p>
            </div>

            <div style="color:red; margin: 20px;">
                <p>
                    <label for="email">상세주소</label>
                    <input type="text" id="상세주소" name="상세주소">
                </p>
            </div>
        </div>
        
        <div style="border:1px solid; color:blue; margin-left: 50px; margin-right: 50px; border-radius: 30px;
        margin-top:10px; text-align : center; background-color: rgb(255, 255, 255);">
            <div style="color:red; margin: 20px;">
                <p>
                    <label for="name">배송할 배송품 무게</label>
                    <input type="text" id="무게" name="무게">
                </p>
                <input type="submit" value="제출하기">
            </div>
        </div>
    </form>
</div>  
{% endblock %}

<!-- footer -->